<div class="container"  [class.dashboarsIsOpen]="this.ds.isOpen" *ngIf="!isLoading">
    <div class="detail-header">
        <div class="event-context"><span class="event-title">{{event?.name}}</span> 
            <span class="page-info">Manage event details and sessions</span>
        </div>
        <div class="buttons">
            <div class="btn delete" (click)="overlayOn()"><i class="fa-regular fa-trash-can"></i> Delete Event</div>
            <div class="btn save" (click)="saveChanges()"><i class="fa-regular fa-floppy-disk"></i> Save Changes</div>
            <div class="backEvents" (click)="navigateEvents()"><i class="fa-solid fa-arrow-left"></i></div>
        </div>
    </div>

    <div class="content" *ngIf="this.event">
        <div class="event-details">
            <div class="details-title">Event Details</div>
            <div class="details-subtitle">Basic information about the event</div>

            <div class="event-image" [class.image-background]="!event.imgUrl">
                <div class="image-container">
                    <img *ngIf="event.imgUrl && !imageUrl" [src]="event.imgUrl" alt="Event Image">
                    <img *ngIf="imageUrl; else noImage" [src]="imageUrl" alt="Event Image">
                    <ng-template #noImage>
                      <div *ngIf="!event?.imgUrl || event?.imgUrl === ''" class="no-image">No Image Available</div>
                    </ng-template>
                  </div>
                <div class="image-actions">
                    <!-- <div class="btn delete delete-image"><i class="fa-regular fa-trash-can"></i> Delete Image</div> -->
                <div class="btn upload" (click)="fileInput.click()"><i class="fa-solid fa-upload"></i> Upload Image</div>
                <input type="file" #fileInput (change)="uploadImage($event)" style="display: none;">
                </div>
            </div>
            
            <div class="form-group">
                <label for="eventTitle">Event Title</label>
                <input id="eventTitle" type="text" [(ngModel)]="event.name" placeholder="Enter event title">
            </div>

            <div class="form-group">
                <label for="eventTitle">Event Description</label>
                <input id="eventTitle" type="text" [(ngModel)]="event.description" placeholder="Enter event description">
            </div>
            
            <div class="form-group" >
                <label for="publicEvent">Public     Event</label>
                <div class="switch-container">
                    <label class="switch">
                        <input id="publicEvent" type="checkbox" [(ngModel)]="event.isPublic">
                        <span class="slider round"></span>
                    </label>
                    <div class="switch-subtitle">Make this event visible to everyone</div>
                </div>
            </div>
 
        </div>

        <div class="session-details">
            <div class="details-title">Sessions</div>
            <div class="details-subtitle">Manage event sessions</div>
            <div class="sessions-container">
            <div class="session-scrollbar">
                <div class="session-container" *ngFor="let session of event.sessions; let i = index">
                    <div class="session-header">
                        <div class="session-title">Session {{i + 1}}</div>
                        <div class="session-actions">
                            <div class="edit-session " (click)="openEditSession(session)"><i class="fa-solid fa-pencil"></i></div>
                            <div class="delete-session " (click)="openDeleteSession(session.sessionId)"><i class="fa-regular fa-trash-can"></i></div>
                        </div>
                    </div>
                    <div class="session-info">
                        <div class="session date"> <i class="fa-regular fa-calendar"></i> {{session.startDate | date:'MMM dd, h:mm a'}} - {{session.endDate | date:'MMM dd, h:mm a'}}</div>
                        <div class="session master" *ngIf="session.master"><i class="fa-solid fa-crown"></i> {{session.master!.name}} {{session.master!.surname}}</div>
                        <div class="session seats"><i class="fa-solid fa-user-group"></i> {{getResNumber(session.reservations,true)}} / {{session.seats}} <div class = "alert-confirm" *ngIf="getResNumber(session.reservations,false) > 0"><i class="fa-solid fa-circle-exclamation"></i> {{getResNumber(session.reservations,false)}} unconfirmed emails</div> </div>
                        <div class="session game"><i class="fa-solid fa-gamepad"></i> {{session.game?.name}}</div>
                    </div>
                </div>
                <div class="spacer"></div>
               </div>
           </div>

            <div class="button-add" (click)="openAddModal()"><i class="fa-solid fa-plus"></i> Add Session</div>
        </div>
    </div>

</div>

<div class="modal-add" *ngIf="isAddSessionModal">
    <div class="modal-content">
        <div class="modal-header">
            <div class="modal-title">Add Session</div>
            <div class="modal-close" (click)="closeAddModal()"><i class="fa-solid fa-xmark"></i></div>
        </div>
        <div class="modal-body">
            <form >
                <div class="form-group">
                    <label for="game">Game</label>
                    <div #dropdownElementGame class="custom-dropdown">
                        <input type="text" id="game" [(ngModel)]="gameSearch" name="gameSearch" placeholder="Search game" (focus)="showOptionsGame()" (input)="filterGames()" />
                        <i *ngIf="gameSearch" (click)="clearGameSearch()" class="fa-solid fa-xmark"></i>
                        <ul class="options" *ngIf="isShowingGameOptions">
                            <li *ngFor="let game of filteredGames" (click)="selectGame(game)" [class.highlight]="game.gameId === newSession.gameId">
                                {{ game.name }} 
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="double-form">
                    <div class="form-group">
                        <label for="startDate">Start Date and Time</label>
                        <input id="startDate" type="datetime-local" [(ngModel)]="newSession.startDate" name="startDate" required>
                    </div>
                    <div class="form-group">
                        <label for="endDate">End Date and Time</label>
                        <input id="endDate" type="datetime-local" [(ngModel)]="newSession.endDate" name="endDate" required>
                    </div>
                </div>
                <div class="double-form">
                    <div class="form-group">
                        <label for="gameMaster">Game Master</label>
                        <div #dropdownElementMaster class="custom-dropdown">
                            <input type="text" [(ngModel)]="gameMasterSearch" name="gameMasterSearch" placeholder="Search game master" (focus)="showOptions()" (input)="filterGameMasters()" [disabled]="!selectedGame" />
                            <!-- <i *ngIf="gameMasterSearch" (click)="clearMasterSearch()" class="fa-solid fa-xmark"></i> -->
                            <ul class="options" *ngIf="isShowingMasterOptions">
                                <li *ngFor="let master of filteredGameMasters" (click)="selectGameMaster(master)" [class.highlight]="master.id === newSession.masterId">
                                    {{ master.name }} {{ master.surname }}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="seats">Available Seats</label>
                        <input id="seats" type="number" [(ngModel)]="newSession.seats" name="seats" min="1" placeholder="Enter number of seats" required>
                    </div>
                   
                </div>
                <div class="form-group">
                    <label for="reservations">Add Players</label>
                    <div #dropdownElementReservation class="custom-dropdown-double ">
                        <div class="selected-users">
                            <span *ngFor="let user of selectedUsers" class="selected-user">
                                {{ user.name }} {{ user.surname }}
                                <i class="fa-solid fa-xmark" (click)="removeReservation(user)"></i>
                            </span>
                        </div>
                        <input id="game" type="text" [(ngModel)]="reservationSearch" name="reservationSearch" placeholder="Search players" (focus)="showOptionsReservation()" (input)="filterUsers()" />
                        <!-- <i *ngIf="reservationSearch" (click)="clearReservationSearch()" class="fa-solid fa-xmark"></i> -->
                        <ul class="options" *ngIf="isShowingReservationOptions">
                            <li *ngFor="let user of filteredUsers" (click)="toggleReservation(user)" [class.highlight]="isUserSelected(user)">
                                {{ user.name }} {{ user.surname }}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn save" (click)="addSession()">Add Session</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal-edit" *ngIf="isEditSessionModal">
    <div class="modal-content">
        <div class="modal-header">
            <div class="modal-title">Edit Session</div>
            <div class="modal-close" (click)="closeEditModal()"><i class="fa-solid fa-xmark"></i></div>
        </div>
        <div class="modal-body">
            <form (ngSubmit)="editSession()">
                <div class="form-group">
                    <label for="game">Game</label>
                    <div #dropdownElementGame class="custom-dropdown">
                        <input type="text" id="game" [(ngModel)]="gameSearch" name="gameSearch" placeholder="Search game" (focus)="showOptionsGame()" (input)="filterGames()" />
                        <i *ngIf="gameSearch" (click)="clearGameEditSearch()" class="fa-solid fa-xmark"></i>
                        <ul class="options" *ngIf="isShowingGameOptions">
                            <li *ngFor="let game of filteredGames" (click)="selectEditGame(game)" [class.highlight]="game.gameId === newSession.gameId">
                                {{ game.name }} 
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="double-form">
                    <div class="form-group">
                        <label for="startDate">Start Date and Time</label>
                        <input id="startDate" type="datetime-local" [(ngModel)]="sessionEditStartDate" name="startDate" required>
                      </div>
                      <div class="form-group">
                        <label for="endDate">End Date and Time</label>
                        <input id="endDate" type="datetime-local" [(ngModel)]="sessionEditEndDate" name="endDate" required>
                      </div>
                </div>
                <div class="double-form">
                    <div class="form-group">
                        <label for="gameMaster">Game Master</label>
                        <div #dropdownElementMaster class="custom-dropdown">
                            <input type="text" [(ngModel)]="gameMasterSearch" name="gameMasterSearch" placeholder="Search game master" (focus)="showOptionsEdit()" (input)="filterGameMasters()" [disabled]="!this.sessionEdit!.game" />
                            <i *ngIf="gameMasterSearch" (click)="clearMasterSearch()" class="fa-solid fa-xmark"></i>
                            <ul class="options" *ngIf="isShowingMasterOptions">
                                <li *ngFor="let master of filteredGameMasters" (click)="selectGameMaster(master)" [class.highlight]="master.id === newSession.masterId">
                                    {{ master.name }} {{ master.surname }}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="seats">Available Seats</label>
                        <input id="seats" type="number" [(ngModel)]="sessionEdit!.seats" name="seats" min="1" placeholder="Enter number of seats" required>
                    </div>
                   
                </div>
                <div class="form-group">
                    <label for="reservations">Add Players</label>
                    <div #dropdownElementReservation class="custom-dropdown-double ">
                        <div class="selected-users" *ngIf="sessionEdit!.reservations!.length > 0">
                            <span *ngFor="let reservation of sessionEdit?.reservations" class="selected-user" [class.red]="!reservation.isConfirmed" [class.green]="reservation.isConfirmed" >
                                {{ reservation.user!.name }} {{ reservation.user!.surname }}
                                <i class="fa-solid fa-xmark" (click)="removeReservationEdit(reservation)"></i>
                            </span>
                        </div>
                        <input id="game" type="text" [(ngModel)]="reservationSearch" name="reservationSearch" placeholder="Search players" (focus)="showOptionsReservation()" (input)="filterUsers()" />
                        <!-- <i *ngIf="reservationSearch" (click)="clearReservationSearch()" class="fa-solid fa-xmark"></i> -->
                        <ul class="options" *ngIf="isShowingReservationOptions">
                            <li *ngFor="let user of filteredUsers" (click)="toggleReservationEdit(user)" [class.highlight]="isUserSelectedEdit(user)">
                                {{ user.name }} {{ user.surname }}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn save" (click)="editSession()">Edit Session</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal-delete" *ngIf="isDeleteModalEvent || isDeleteModalSession ">
    <div class="delete-modal-content">
        <div class="modal-header">
            <div class="modal-title" *ngIf="isDeleteModalEvent">Delete Event</div>
            <div class="modal-title" *ngIf="isDeleteModalSession">Delete Event</div>
            <div class="modal-close" (click)="closeDeleteModal()"><i class="fa-solid fa-xmark"></i></div>
        </div>
        <div class="modal-body">
            <div class="modal-subtitle" *ngIf="isDeleteModalEvent">Are you sure you want to delete this event?</div>
            <div class="modal-subtitle" *ngIf="isDeleteModalSession">Are you sure you want to delete this Session?</div>
            <div class="modal-buttons">
                <div class="btn cancel" (click)="closeDeleteModal()">Cancel</div>
                <div class="btn delete btn-icon" (click)="deleteEvent()" *ngIf="isDeleteModalEvent"><i class="fa-regular fa-trash-can"></i> Delete</div>
                <div class="btn delete btn-icon" (click)="deleteSession()" *ngIf="isDeleteModalSession"><i class="fa-regular fa-trash-can"></i> Delete</div>
            </div>
        </div>
    </div>
</div>