<div class="dashboard-cont">

    <div class="sidenav" [class.open]="this.ds.isOpen" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">

        <div class="title">
            <div class="right-img" (click)="goToHome()">
                <img src="/assets/images/logo.png">
                <div class="logo-title" *ngIf="this.ds.isOpen">
                    Game Planner
                </div>
            </div>
        </div>
        <nav>
            <div [routerLink]="['users']" (click)=" closeOverlay()">
                <i class="fa-solid fa-user"></i>
                <span *ngIf="this.ds.isOpen">Users</span>
            </div>
            <div [routerLink]="['events']" (click)=" closeOverlay()">
                <i class="fa-solid fa-calendar-days"></i>
                <span *ngIf="this.ds.isOpen">Events</span>
            </div>
            <div [routerLink]="['games']" (click)=" closeOverlay()">
                <i class="fa-solid fa-dice-d20"></i>
                <span *ngIf="this.ds.isOpen">Games</span>
            </div>
        </nav>

        <div class="logout-profile-cont" (click)="this.logOut()">
            
            <div class="profile">

                <div class="img">
                    @if (user?.imgUrl && user?.imgUrl!== "") {
                        <img [src]="user?.imgUrl">
                    }
                    @else {
                        <i class="fa-regular fa-user"></i>
                    }
                </div>
                <div>
                    <span *ngIf="this.ds.isOpen" (click)="this.router.navigate(['/userSettings'])" class="userName">
                        {{user?.name}} {{user?.surname}}
                    </span>
                </div>

            </div>
            <div class="logout">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                <span *ngIf="this.ds.isOpen" (click)="logOut()">Log Out</span>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>