
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$GamePlanner-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($GamePlanner-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($GamePlanner-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($GamePlanner-theme);
body {
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background: var(--gray-background);
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    box-sizing: inherit;

}

:root{
    --purple: #9147FF;
    --light-gray: #ccc;
    --light-gray2: #8e8e8e;
    --background-page:radial-gradient(66.5% 221.21% at 136.03% -61.44%, rgb(243 0 239 / 50%) 0%, rgb(231 58 232 / 0%) 92.09%), radial-gradient(93.54% 126.91% at 29.15% -56.29%, rgb(167 29 248 / 80%) 0%, rgba(58, 232, 189, 0) 92.09%), radial-gradient(86.19% 101.84% at -17.13% -24.8%, #7950e5 0%, rgb(74 52 132 / 0%) 92.09%), rgb(155 9 241 / 80%);
    --dark-purple:#7923fa;
    --background-auth: linear-gradient(146deg, #c2a1f3 -19%, #7923fad6 30%);
    --color1:#151515;
    --lightpPurple: #d7c1f9d0;
    --light-black:#363C3F;
}   
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
