<div class="header-container">
  <div class="right-img" (click)="this.router.navigate(['home'])">
    <img src="/assets/images/logo.png" />
    <div class="logo-title">Game Planner</div>
  </div>
  @if (!this.as.isLogged) {
  <div class="login-registration-cont">
    <div
      (click)="this.router.navigate(['login'])"
      class="login-registration login"
    >
      Log In
    </div>
    <div
      (click)="this.router.navigate(['register'])"
      class="login-registration"
    >
      Sign Up
    </div>
  </div>
  } @else {
  <div class="user-icon" (click)="toggleModal()">
    <i class="fa-regular fa-user"></i>
  </div>
  <div
    *ngIf="this.headerService.isModalOpen"
    #overlayElement
    class="overlay"
    (click)="closeModal()"
  ></div>
  <div
    class="menu-container"
    *ngIf="this.headerService.isModalOpen"
    (click)="$event.stopPropagation()"
  >
    @if (this.as.user) {
    <div class="img-name">
      @if(this.as.user!.imgUrl=== undefined){
      <div class="img-name-border"><i class="fa-regular fa-user"></i></div>
      } @else {
      <div>{{ this.as.user.imgUrl }}</div>
      }
      <div class="username-email">
        <div class="username">
          {{ this.as.user.name }} {{ this.as.user.surname }}
        </div>
        <div class="email">{{ this.as.user.email }}</div>
      </div>
    </div>
    <div class="divisor"></div>
    <div class="options-container" #modalElement>
      <div
        class="settings-cont"
        *ngIf="this.as.isAdmin"
        (click)="this.router.navigate(['dashboard-admin/users'])"
      >
        <div><i class="fa-solid fa-user-tie"></i></div>
        <div class="settings">Dashboard Admin</div>
      </div>
      <div class="settings-cont" (click)="navigateAndClose()">
        <div><i class="fa-solid fa-gear"></i></div>
        <div class="settings">Account Settings</div>
      </div>
      <div (click)="logOut()" class="settings-cont red">
        <div><i class="fa-solid fa-arrow-right-from-bracket"></i></div>
        <div>logout</div>
      </div>
    </div>
    }
  </div>
  }
</div>
