<div class="container" [class.dashboarsIsOpen]="this.ds.isOpen">
    <div class="table-container">
        <div class="header-bar">
            <h1 class="page-title">Games Management</h1>
            <div class="search-bar-cont">

                <mat-form-field class="search-bar" appearance="outline">
                    <mat-label>Search</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Search games" />
                </mat-form-field>
            </div>
        </div>

        <div class="btn-create">
            <button (click)="openCreateOrUpdateGamesModal(undefined)">Create Game</button>
        </div>


        <table mat-table [dataSource]="dataSource" [class.userDetailOpen]="this.ds.userDetailPanel"
            class="mat-elevation-z8 user-table">
            <ng-container matColumnDef="imgUrl">
                <mat-header-cell *matHeaderCellDef> Image </mat-header-cell>
                <mat-cell *matCellDef="let game">

                    <div class="cont-user-cell">

                        @if(game.imgUrl === undefined){
                        <div class="profile-image"> <i class="fa-regular fa-user"></i></div>
                        }
                        <img alt="Profile" class="profile-image" [src]="game.imgUrl">


                    </div>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                <mat-cell *matCellDef="let game"> {{game.name}} </mat-cell>
            </ng-container>



            <ng-container matColumnDef="isDisabled">
                <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
                <mat-cell *matCellDef="let game">

                    @if(game.isDisabled){
                    <div class="status-disabled"> <span>DISABLED </span></div>
                    }
                    @else {
                    <div class="status-enabled"> <span>ENABLED</span> </div>
                    }
                </mat-cell>

            </ng-container>




            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

            <mat-row *matRowDef="let row; columns: displayedColumns;" class="data-row"
                [class.gameDisabled]="row.isDeleted"
                (click)="$event.stopPropagation(); openCreateOrUpdateGamesModal(row)">
            </mat-row>

        </table>

        <div class="modal-cont" [class.details-visible]="this.as.isGameDetail">


            <div class="game-details-cont" [class.details-visible]="this.as.isGameDetail" >

                <div class="close-modal" [class.btn-visible]="this.as.isGameDetail" (click)="closeModal()">
                    <button><i class="fa-solid fa-x"></i></button>
                </div>

                <div class="image-upload-container" *ngIf="this.editStates['imgUrl'].isEditMode">
                    <div class="image-preview" *ngIf="selectedImage">
                      <img [src]="selectedImage" alt="Preview" />
                    </div>
                  
                    <form [formGroup]="form" class="input-cont img">
                      <div class="wrapper">
                        <div class="input-group">
                          <label for="fileInput" class="file-label">
                            Scegli un'immagine
                            <input
                              id="fileInput"
                              type="file"
                              accept="image/*"
                              (change)="onFileSelected($event)"
                              class="file-input"
                            />
                          </label>
                        </div>
                        <div class="button-group">
                          <button 
                            type="button" 
                            (click)="saveImage()" 
                            [disabled]="!selectedImage" 
                            class="save-btn img"
                          >
                            <i class="fa-solid fa-check"></i> Salva
                          </button>
                          <button 
                            type="button" 
                            (click)="cancelImage()" 
                            class="cancel-btn img"
                          >
                            <i class="fa-solid fa-x"></i> Annulla
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>


                <div class="game-img-name-cont" *ngIf="!this.editStates['imgUrl'].isEditMode">


                    <div class="game-img-cont" *ngIf="!editStates['imgUrl'].isEditMode"
                        (mouseenter)="onMouseEnter('imgUrl') ; this.imgHover=true"
                        (mouseleave)="onMouseLeave('imgUrl') ; this.imgHover=false">
                        @if(this.selectedGame?.imgUrl === undefined){
                        <div class="game-img"> <i class="fa-regular fa-user"></i></div>
                        }
                        @else if (this.imgHover) {
                        <div class="imgHover" [ngStyle]="{ 'background-image': 'url(' + selectedGame?.imgUrl + ')' }"
                            *ngIf="editStates['imgUrl'].editToggle" (click)="enableEdit(this.selectedGame, 'imgUrl')">

                            <i class="fa-regular fa-pen-to-square"></i>
                        </div>
                        }
                        @else{
                            <div class="imgHover"  [ngStyle]="{ 'background-image': 'url(' + selectedGame?.imgUrl + ')' }">                  </div>
                        }
                    </div>

                   


                    <div class="game-name" *ngIf="!editStates['name'].isEditMode" (mouseenter)="onMouseEnter('name')"
                        (mouseleave)="onMouseLeave('name')">
                        <span>
                            {{this.selectedGame?.name}}
                        </span>

                        <div *ngIf="editStates['name'].editToggle" (click)="enableEdit(this.selectedGame, 'name')"
                            class="edit-btn">
                            <i class="fa-regular fa-pen-to-square"></i>
                        </div>
                    </div>
                    <form class="input-cont" *ngIf="editStates['name'].isEditMode" [formGroup]="form">
                        <div class="wrapper">
                            <div class="input-group">
                                <input type="text" formControlName="name" placeholder="Name" required
                                    [class.input-error]="form.get('name')?.invalid && (form.get('name')?.touched || form.get('name')?.dirty)">
                            </div>
                            <div *ngIf="form.get('name')?.invalid && (form.get('name')?.touched || form.get('name')?.dirty)"
                                class="display-errors">
                                <small class="error" *ngIf="form.get('name')?.errors?.['required']">The title of the
                                    game is required</small>
                            </div>
                        </div>

                        <div (click)="saveProperty(this.selectedGame, 'name')" class="save-btn">
                            <button [disabled]="form.get('name')?.pristine"
                                [class.disabled]="form.get('name')?.pristine">
                                <i class="fa-solid fa-check"></i>
                            </button>
                            <button (click)="cancelEdit('name')">
                                <i class="fa-solid fa-x"></i>
                            </button>
                        </div>
                    </form>

                </div>


                <div class="description-cont" *ngIf="!editStates['description'].isEditMode &&!this.editStates['imgUrl'].isEditMode "
                    (mouseenter)="onMouseEnter('description')" (mouseleave)="onMouseLeave('description')">
                    <span>
                        {{this.selectedGame?.description}}
                    </span>

                    <div *ngIf="editStates['description'].editToggle"
                        (click)="enableEdit(this.selectedGame, 'description')" class="edit-btn">
                        <i class="fa-regular fa-pen-to-square"></i>
                    </div>
                </div>
                <form class="input-cont description" *ngIf="editStates['description'].isEditMode && !this.editStates['imgUrl'].isEditMode" [formGroup]="form">
                    <div class="wrapper description">
                        <div class="input-group description">
                            <textarea type="text" formControlName="description" placeholder="Description" required
                                [class.input-error]="form.get('description')?.invalid && (form.get('description')?.touched || form.get('description')?.dirty)">
                        </textarea>
                        </div>
                        <div *ngIf="form.get('description')?.invalid && (form.get('description')?.touched || form.get('description')?.dirty)"
                            class="display-errors">
                            <small class="error" *ngIf="form.get('description')?.errors?.['required']">The description
                                of the game is
                                required</small>
                        </div>
                    </div>

                    <div (click)="saveProperty(this.selectedGame, 'description')" class="save-btn">
                        <button [disabled]="form.get('description')?.pristine"
                            [class.disabled]="form.get('description')?.pristine">
                            <i class="fa-solid fa-check"></i>
                        </button>
                        <button (click)="cancelEdit('description')">
                            <i class="fa-solid fa-x"></i>
                        </button>
                    </div>
                </form>

                <div class="status-cont" *ngIf="!this.editStates['imgUrl'].isEditMode">
                    <span>Status</span>

                    @if(selectedGame?.isDisabled){
                    <div class="circle-status">
                        <div class="circle-disable"></div>
                        <div class="status-disabled"> <span>DISABLED</span></div>
                    </div>
                    }
                    @else {
                    <div class="circle-status">
                        <div class="circle-enable"></div>
                        <div class="status-enabled"> <span>ENABLED</span> </div>
                    </div>
                    }
                </div>

                <div class="btns-cont" *ngIf="!this.editStates['imgUrl'].isEditMode">
                    @if(this.selectedGame?.isDisabled){
                    <div class="disable" (click)="ableOrDisableGame()">Restore Game</div>
                    }
                    @else {
                    <div class="disable" (click)="ableOrDisableGame()">Disable Game</div>
                    }
                    <div class="delete" (click)="toggleDeleteGameModal()">Delete Game</div>
                </div>
            </div>
        </div>

        <div class="modal-sessions" *ngIf="this.as.isDeleteGameModal">
            <div class="modal-content">
                <div class="modal-title">
                    Delete Game
                </div>
                <div class="modal-subtitle">
                    Do you really want to delete this game?
                </div>
                <div class="modal-btns">
                    <button class="delete">Delete</button>
                    <button (click)="toggleDeleteGameModal()" class="close">Close</button>

                </div>
            </div>
        </div>

    </div>