<div class="container" [class.dashboarsIsOpen]="this.ds.isOpen">
    <div class="search-table-container">
        <div class="header-bar">
            <h1 class="page-title">Games Management</h1>
            <div class="search-bar-cont">

                <div class="search-bar" appearance="outline" [class.searchBarUserDetailOpen]="this.ds.userDetailPanel">
                    <input matInput (keyup)="applyFilter($event)" placeholder="Search games" />
                </div>
            </div>
        </div>

        <div class="btn-create">
            <button (click)="openCreateGameModal()">Create Game</button>
        </div>
        <app-modal-create-game *ngIf="this.as.isCreateGameModal"></app-modal-create-game>

        <div class="table-games-container">

            <table mat-table [dataSource]="dataSource" [class.userDetailOpen]="this.ds.userDetailPanel"
                class="mat-elevation-z8 user-table">
                <ng-container matColumnDef="imgUrl" class="mat-column-imgUrl">
                    <mat-header-cell *matHeaderCellDef> Image </mat-header-cell>
                    <mat-cell *matCellDef="let game" class="important">

                        <div class="cont-user-cell">

                            @if(game.imgUrl === undefined){
                            <div class="profile-image"> <i class="fa-regular fa-user"></i></div>
                            }
                            <img alt="Profile" class="profile-image" [src]="game.imgUrl">
                        </div>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                    <mat-cell *matCellDef="let game"> {{game.name}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="isDisabled" class="mat-column-isDisabled">
                    <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
                    <mat-cell *matCellDef="let game">

                        @if(game.isDisabled){
                        <div class="status-disabled"> <span>DISABLED </span></div>
                        }
                        @else {
                        <div class="status-enabled"> <span>ENABLED</span> </div>
                        }
                    </mat-cell>

                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                <mat-row *matRowDef="let row; columns: displayedColumns;" class="data-row"
                    [class.gameDisabled]="row.isDisabled" (click)="$event.stopPropagation(); openGameDetailsModal(row)">
                </mat-row>

            </table>
            <mat-paginator [pageSize]="10" showFirstLastButtons #MatPaginator></mat-paginator>
        </div>



        <div class="modal-cont" [class.details-visible]="this.as.showGameDetail">


            <div class="game-details-cont" [class.details-visible]="this.as.showGameDetail" #modalDetail>

                <div class="close-modal" [class.btn-visible]="this.as.showGameDetail" (click)="closeModal()"
                    *ngIf="this.as.showGameDetail">
                    <div><i class="fa-solid fa-x" [class.btn-visible]="this.as.showGameDetail"></i></div>
                </div>

                <div class="image-upload-container" *ngIf="this.editStates['imgUrl'].isEditMode">

                    <div class="image-preview" *ngIf="!this.selectedImagePreview">
                        <img [src]="this.gs.gameDetail?.imgUrl" alt="Preview">
                    </div>
                    <div class="image-preview" *ngIf="this.selectedImagePreview">
                        <img [src]="this.selectedImagePreview" alt="Preview" />
                    </div>

                    <form [formGroup]="form" class="input-cont img">
                        <div class="wrapper changeImg">
                            <div class="input-group">
                                <label for="fileInput" class="file-label">
                                    Choose an image
                                    <input id="fileInput" type="file" accept="image/*" (change)="onFileSelected($event)"
                                        class="file-input" />
                                </label>
                            </div>
                            <div class="button-group">
                                <button type="button" (click)="saveImage()" [disabled]="!this.selectedImagePreview"
                                    class="save-btn img">
                                    <i class="fa-solid fa-check"></i> Save
                                </button>
                                <button type="button" (click)="cancelImage()" *ngIf="this.selectedImagePreview"
                                    class="cancel-btn img">
                                    <i class="fa-solid fa-x"></i> Cancel
                                </button>
                            </div>
                        </div>
                    </form>
                </div>


                <div class="game-img-name-cont" *ngIf="!this.editStates['imgUrl'].isEditMode">


                    <div class="game-img-cont" *ngIf="!editStates['imgUrl'].isEditMode"
                        (mouseenter)="onMouseEnter('imgUrl') ; this.imgHover=true"
                        (mouseleave)="onMouseLeave('imgUrl') ; this.imgHover=false">

                        @if (this.imgHover) {
                        <div class="imgHover"
                            [ngStyle]="{ 'background-image': 'url(' + this.gs.gameDetail?.imgUrl + ')', 'opacity':'50%' }"
                            *ngIf="editStates['imgUrl'].editToggle" (click)="enableEdit(this.gs.gameDetail, 'imgUrl')">
                        </div>
                        <div class="img-icon" (click)="enableEdit(this.gs.gameDetail, 'imgUrl')"><i
                                class="fa-solid fa-image"></i></div>
                        }
                        @else{
                        <div class="imgHover"
                            [ngStyle]="{ 'background-image': 'url(' + this.gs.gameDetail?.imgUrl + ')' }">
                        </div>
                        }
                    </div>




                    <div class="game-name" *ngIf="!editStates['name'].isEditMode" (mouseenter)="onMouseEnter('name')"
                        (mouseleave)="onMouseLeave('name')">
                        <span>
                            {{this.gs.gameDetail?.name}}
                        </span>

                        <div *ngIf="editStates['name'].editToggle" (click)="enableEdit(this.gs.gameDetail, 'name')"
                            class="edit-btn">
                            <i class="fa-regular fa-pen-to-square"></i>
                        </div>
                    </div>
                    <form class="input-cont" *ngIf="editStates['name'].isEditMode" [formGroup]="form">
                        <div class="wrapper">
                            <div class="input-group">
                                <input type="text" formControlName="name" placeholder="Name" required
                                    [class.input-error]="form.get('name')?.invalid && (form.get('name')?.touched || form.get('name')?.dirty)">
                            </div>
                            <div *ngIf="form.get('name')?.invalid && (form.get('name')?.touched || form.get('name')?.dirty)"
                                class="display-errors">
                                <small class="error" *ngIf="form.get('name')?.errors?.['required']">The title of the
                                    game is required</small>
                            </div>
                        </div>

                        <div (click)="saveProperty(this.gs.gameDetail!, 'name')" class="save-btn">
                            <button [disabled]="form.get('name')?.pristine"
                                [class.disabled]="form.get('name')?.pristine">
                                <i class="fa-solid fa-check"></i>
                            </button>
                            <button (click)="cancelEdit('name')">
                                <i class="fa-solid fa-x"></i>
                            </button>
                        </div>
                    </form>

                </div>


                <div class="description-cont"
                    *ngIf="!editStates['description'].isEditMode &&!this.editStates['imgUrl'].isEditMode "
                    (mouseenter)="onMouseEnter('description')" (mouseleave)="onMouseLeave('description')">
                    <span>
                        {{this.gs.gameDetail?.description}}
                    </span>

                    <div *ngIf="editStates['description'].editToggle"
                        (click)="enableEdit(this.gs.gameDetail, 'description')" class="edit-btn">
                        <i class="fa-regular fa-pen-to-square"></i>
                    </div>
                </div>
                <form class="input-cont description"
                    *ngIf="editStates['description'].isEditMode && !this.editStates['imgUrl'].isEditMode"
                    [formGroup]="form">
                    <div class="wrapper description">
                        <div class="input-group description">
                            <textarea type="text" formControlName="description" placeholder="Description" required
                                [class.input-error]="form.get('description')?.invalid && (form.get('description')?.touched || form.get('description')?.dirty)">
                        </textarea>
                        </div>
                        <div *ngIf="form.get('description')?.invalid && (form.get('description')?.touched || form.get('description')?.dirty)"
                            class="display-errors">
                            <small class="error" *ngIf="form.get('description')?.errors?.['required']">The description
                                of the game is
                                required</small>
                        </div>
                    </div>

                    <div (click)="saveProperty(this.gs.gameDetail!, 'description')" class="save-btn">
                        <button [disabled]="form.get('description')?.pristine"
                            [class.disabled]="form.get('description')?.pristine">
                            <i class="fa-solid fa-check"></i>
                        </button>
                        <button (click)="cancelEdit('description')">
                            <i class="fa-solid fa-x"></i>
                        </button>
                    </div>
                </form>

                <div class="status-cont" *ngIf="!this.editStates['imgUrl'].isEditMode">
                    <span>Status</span>

                    @if(this.gs.gameDetail?.isDisabled){
                    <div class="circle-status">
                        <div class="circle-disable"></div>
                        <div class="status-disabled"> <span>DISABLED</span></div>
                    </div>
                    }
                    @else {
                    <div class="circle-status">
                        <div class="circle-enable"></div>
                        <div class="status-enabled"> <span>ENABLED</span> </div>
                    </div>
                    }
                </div>

                <div class="btns-cont" *ngIf="!this.editStates['imgUrl'].isEditMode">
                    @if(this.gs.gameDetail?.isDisabled){
                    <div class="disable" (click)="EnableOrDisableGame()">Restore Game</div>
                    }
                    @else {
                    <div class="disable" (click)="EnableOrDisableGame()">Disable Game</div>
                    }
                    <div class="delete" (click)="toggleDeleteGameModal()">Delete Game</div>
                </div>
            </div>
        </div>

        <div class="modal-sessions" *ngIf="this.as.isDeleteGameModal">
            <div class="modal-content">
                <div class="modal-title">
                    Delete Game
                </div>
                <div class="modal-subtitle">
                    Do you really want to delete this game?
                </div>
                <div class="modal-btns">
                    <button class="delete" (click)="delete()">Delete</button>
                    <button (click)="toggleDeleteGameModal()" class="close">Close</button>

                </div>
            </div>
        </div>

    </div>