<div class="container">

    <div class="footer-container">
        <div class="social-link">
            <div class="icon"><i class="fa-brands fa-instagram"></i> </div>
            <div class="icon"><i class="fa-brands fa-twitter"></i> </div>
            <div class="icon"><i class="fa-brands fa-linkedin"></i> </div>
            <div class="icon"><i class="fa-brands fa-facebook"></i></div>
        </div>
        <div class="about-us-names">
            <div class="about-us">
                About us
            </div>
            <div class="names">
                <div class="name-container">Yassine Char</div>
                <div class="name-container">Gabriele Costa</div>
                <div class="name-container">Leonardo Galante</div>
                <div class="name-container">Luca Gallazzi</div>
                <div class="name-container">Daniele Ranzani</div>
                <div class="name-container">Mattteo Rovellini</div>
            </div>
        </div>
        
    </div>
    <div class="divisor"></div>
    <div class="rights">
        © 2024 GamePlanner. All rights reserved.
    </div>
</div>