<div class="container">

    <div class="footer-container">
        <div class="social-link">
            <div class="icon"><i class="fa-brands fa-instagram"></i> </div>
            <div class="icon"><i class="fa-brands fa-twitter"></i> </div>
            <div class="icon"><i class="fa-brands fa-linkedin"></i> </div>
            <div class="icon"><i class="fa-brands fa-facebook"></i></div>
        </div>
        <div class="about-us-names">
            <div class="about-us">
                About us
            </div>
            <div class="names">
    
                <div>Yassine Char</div>
                <div>Gabriele Costa</div>
                <div>Leonardo Galante</div>
                <div>Luca Gallazzi</div>
                <div>Daniele Ranzani</div>
                <div>Mattteo Rovellini</div>
            </div>
        </div>
        
    </div>
    <div class="divisor"><hr></div>
    <div class="rights">
        © 2024 GamePlanner. All rights reserved.
    </div>
</div>