.display{
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.main-content {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
  }