<div class="display">
  <div class="container">
    <div class="title-page">Account Settings</div>
    <div class="player-profile-cont">
      <!-- <div class="subtitle">Player Profile</div> -->
      <div class="img-btns">
        @if (userToEdit?.imgUrl) {
        <div class="img">
          <img class="img" src="{{userToEdit?.imgUrl}}" alt="User profile image">
        </div>
        }@else {
        <div class="img">
          <i class="fa-regular fa-user"></i>
        </div>
        }
        <div class="buttons">
          <div class="imgUpload">
            <input class="btn-upload" type="file" (change)="onFileSelected($event)">
            <i class="fa-solid fa-upload"></i> Upload new image
          </div>
          <button class="btn-remove" (click)="removeImg()">
            <i class="fa-solid fa-xmark"></i> Remove image
          </button>
        </div>
      </div>
    </div>

    <form [formGroup]="userForm!!" (ngSubmit)="onSubmit()" class="form-container">
      <!--Name-->
      <div class="wrapper">
        <label for="name"><i class="fa-regular fa-user"></i>Name</label>
        <div class="input-group">
          <input id="name" type="text" formControlName="name" placeholder="Name" required [class.input-error]="
              userForm!.get('name')?.invalid &&
              (userForm!.get('name')?.touched || userForm!.get('name')?.dirty)
            " />
        </div>
        <div *ngIf="
            userForm!.get('name')?.invalid &&
            (userForm!.get('name')?.touched || userForm!.get('name')?.dirty)
          " class="display-errors">
          <small class="error" *ngIf="userForm!.get('name')?.errors?.['required']">Name is required</small>
        </div>
      </div>
      <!--Surname-->
      <div class="wrapper">
        <label for="surname"><i class="fa-regular fa-user"> </i>Surname</label>
        <div class="input-group">
          <input id="surname" type="text" formControlName="surname" placeholder="Surname" required [class.input-error]="
              userForm!.get('surname')?.invalid &&
              (userForm!.get('surname')?.touched ||
                userForm!.get('surname')?.dirty)
            " />
        </div>
        <div *ngIf="
            userForm!.get('surname')?.invalid &&
            (userForm!.get('surname')?.touched || userForm!.get('surname')?.dirty)
          " class="display-errors">
          <small class="error" *ngIf="userForm!.get('surname')?.errors?.['required']">Surname is required</small>
        </div>
      </div>
      <!--Email-->
      <div class="wrapper">
        <label for="email"><i class="fa-regular fa-envelope"></i>Email</label>
        <div class="input-group">
          <input id="email" type="email" formControlName="email" placeholder="Email" required [class.input-error]="
              userForm!.get('email')?.invalid &&
              (userForm!.get('email')?.touched || userForm!.get('email')?.dirty)
            " />
        </div>
        <div *ngIf="
            userForm!.get('email')?.invalid &&
            (userForm!.get('email')?.touched || userForm!.get('email')?.dirty)
          " class="display-errors">
          <small class="error" *ngIf="userForm!.get('email')?.errors?.['required']">Email is required</small>
          <small class="error" *ngIf="userForm!.get('email')?.errors?.['email']">The email format is incorrect.</small>
        </div>
      </div>
      <!--Phone-->
      <div class="wrapper">
        <label for="phone"><i class="fa-solid fa-phone"></i>Phone</label>
        <div class="input-group">
          <input id="phone" type="text" formControlName="phone" placeholder="Phone" required [class.input-error]="
              userForm!.get('phone')?.invalid &&
              (userForm!.get('phone')?.touched || userForm!.get('phone')?.dirty)
            " />
        </div>
        <div *ngIf="
            userForm!.get('phone')?.invalid &&
            (userForm!.get('phone')?.touched || userForm!.get('phone')?.dirty)
          " class="display-errors">
          <small class="error" *ngIf="userForm!.get('phone')?.errors?.['required']">Phone is required</small>
          <small class="error" *ngIf="userForm!.get('phone')?.errors?.['phone']">The Phone format is incorrect.</small>
        </div>
      </div>
      <!--birthDate-->
      <div class="wrapper">
        <label for="birthdate"><i class="fa-regular fa-calendar"></i>Birthdate</label>
        <div class="input-group">
          <input id="birthdate" type="date" formControlName="birthdate" placeholder="birthdate" />
        </div>
      </div>
    </form>

    <div class="wrapper-radio">
      <div class="head-preference-wrapper">
        <div class="radio-title">
          <i class="fa-solid fa-shield"></i> Preferences
        </div>
        <div class="wrapper-option">
          <div (click)="changeViewMode('add')"><i class="fa-solid fa-plus"></i> Add</div>
          <div (click)="changeViewMode('edit')"><i class="fa-solid fa-pen-to-square"></i> Modify</div>
        </div>
      </div>
      <!--default view-->
      <div *ngIf="viewMode === 'default'">
        <div class="preference-form" *ngFor="let preference of userToEdit?.preferences">
          <div class="game-name">{{preference.game.name}}</div>
          <div class="display-radios">
            <div class="radio-input-label">
              <input type="radio" id="masterYes" name="canBeMaster{{preference.preferenceId}}" [value]="true"
                [ngModel]="preference.canBeMaster" />
              <label for="masterYes" class="radio-label">Yes</label>
            </div>
            <div class="radio-input-label">
              <input type="radio" id="masterNo" name="canBeMaster{{preference.preferenceId}}" [value]="false"
                [ngModel]="preference.canBeMaster" />
              <label for="masterNo" class="radio-label">No</label>
            </div>
          </div>
          <div class="knowledge-name">{{preference.knowledge.name}}</div>
        </div>
      </div>
      <!--edit view-->
      <div *ngIf="viewMode === 'edit'">
        <div class="preference-form" *ngFor="let preference of userToEdit?.preferences">
          <div class="game-name">
            <select name="game" id="{{this.originalUser?.id}}GamePreference">
              <option *ngFor="let game of games" [value]="game.gameId">{{game.name}}</option>
            </select>
          </div>
          <div class="display-radios">
            <div class="radio-input-label">
              <input type="radio" id="masterYes" name="canBeMaster{{preference.preferenceId}}" [value]="true"
                [ngModel]="preference.canBeMaster" />
              <label for="masterYes" class="radio-label">Yes</label>
            </div>
            <div class="radio-input-label">
              <input type="radio" id="masterNo" name="canBeMaster{{preference.preferenceId}}" [value]="false"
                [ngModel]="preference.canBeMaster" />
              <label for="masterNo" class="radio-label">No</label>
            </div>
          </div>
          <select name="knowledge" id="{{this.originalUser?.id}}knowledgePreference">
            <option *ngFor="let knowledge of knowledges" [value]="knowledge.knowledgeId">{{knowledge.name}}</option>
          </select>
        </div>
      </div>
      <!--add view-->
      <div *ngIf="viewMode === 'add'">
        <div class="preference-form">
          <div class="game-name">
            <select name="game" id="{{this.originalUser?.id}}GamePreference">
              <option *ngFor="let game of games" [value]="game.gameId">{{game.name}}</option>
            </select>
          </div>
          <div class="display-radios">
            <div class="radio-input-label">
              <input type="radio" id="masterYes" name="canBeMasterAdd" [value]="true" />
              <label for="masterYes" class="radio-label">Yes</label>
            </div>
            <div class="radio-input-label">
              <input type="radio" id="masterNo" name="canBeMasterAdd" [value]="false" />
              <label for="masterNo" class="radio-label">No</label>
            </div>
          </div>
          <div class="knowledge-name">
            <select name="knowledge" id="{{this.originalUser?.id}}knowledgePreference">
              <option *ngFor="let knowledge of knowledges" [value]="knowledge.knowledgeId">{{knowledge.name}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="bottom-buttons">
        <button (click)="resetUserInfo()" class="btn-cancel">Cancel</button>
        @if (viewMode=== 'add') {
        <button (click)="PostPreference()" class="btn-save">Add Preference</button>
        }
        @else {
        <button class="btn-save">Save Changes</button>
        }
      </div>
    </div>
  </div>
</div>