<div class="display">
  <div class="container">
    <div class="title-page">Account Settings</div>
    <!--Img-->
    <div class="player-profile-cont" *ngIf="this.modelToEdit && !this.isLoading">
      <div class="img-btns">
        @if (modelToEdit!.imgUrl || selectedImagePreview) {
        <div class="img">
          <img class="img" [src]="modelToEdit!.imgUrl" alt="User profile image" *ngIf="!selectedImagePreview">
          <img class="img" [src]="selectedImagePreview" alt="User profile image" *ngIf="selectedImagePreview">
        </div>
        }@else {
        <div class="img">
          <i class="fa-regular fa-user"></i>
        </div>
        }
        <div class="buttons">
          <div class="img-upload-container">
            <button class="img-upload-button" (click)="fileInput.click()">
              <i class="fa-solid fa-upload"></i> Upload new image
            </button>
            <input #fileInput class="btn-upload" type="file" accept="image/*" (change)="onFileSelected($event)"
              hidden />
          </div>
          <button class="btn-remove" (click)="removeImg()">
            <i class="fa-solid fa-xmark"></i> Remove image
          </button>
        </div>
      </div>
    </div>
    <div class="input-container" *ngIf="this.modelToEdit">
      <!--Name-->
      <div class="wrapper">
        <label for="name"><i class="fa-regular fa-user"></i>Name</label>
        <div class="input-group">
          <input id="name" type="text" [(ngModel)]="modelToEdit!.name" name="name" placeholder="Name" required
            [class.input-error]="!modelToEdit!.name" />
        </div>
        <div *ngIf="!modelToEdit!.name" class="display-errors">
          <small class="error">Name is required</small>
        </div>
      </div>
      <!--Surname-->
      <div class="wrapper">
        <label for="surname"><i class="fa-regular fa-user"> </i>Surname</label>
        <div class="input-group">
          <input id="surname" type="text" [(ngModel)]="modelToEdit!.surname" name="surname" placeholder="Surname"
            required [class.input-error]="!modelToEdit!.surname" />
        </div>
        <div *ngIf="!modelToEdit!.surname" class="display-errors">
          <small class="error">Surname is required</small>
        </div>
      </div>
      <!--Email-->
      <div class="wrapper">
        <label for="email"><i class="fa-regular fa-envelope"></i>Email</label>
        <div class="input-group">
          <input id="email" type="email" [(ngModel)]="modelToEdit!.email" name="email" placeholder="Email" required
            [class.input-error]="!modelToEdit!.email " />
        </div>
        <div *ngIf="!modelToEdit!.email" class="display-errors">
          <small class="error">Email is required</small>
        </div>
      </div>
      <!--Phone-->
      <div class="wrapper">
        <label for="phoneNumber"><i class="fa-regular fa-envelope"></i>Phone</label>
        <div class="input-group">
          <input id="phoneNumber" type="text" [(ngModel)]="modelToEdit!.phoneNumber" name="phoneNumber"
            placeholder="Phone Number" required [class.input-error]="!modelToEdit!.phoneNumber " />
        </div>
        <div *ngIf="!modelToEdit!.phoneNumber" class="display-errors">
          <small class="error">Phone number is required</small>
        </div>
      </div>
      <!--birthDate-->
      <div class="wrapper">
        <label for="birthDate"><i class="fa-regular fa-calendar"></i>Birthdate</label>
        <div class="input-group">
          <input id="birthDate" type="date" [(ngModel)]="formattedBirthdate" name="birthDate" placeholder="birthDate" />
        </div>
      </div>
    </div>
    <div class="preference-container">
      <div class="head-preference-wrapper">
        <div class="radio-title">
          <i class="fa-solid fa-shield"></i> Preferences
        </div>
        <div class="wrapper-option">
          <button class="option-btn" (click)="changeViewMode('add')"><i class="fa-solid fa-plus"></i> Add</button>
          <button class="option-btn" (click)="changeViewMode('edit')"><i class="fa-solid fa-pen-to-square"></i> Modify
          </button>
        </div>
      </div>

      <div class="preference-label">
        <div class="game-name">Game</div>
        <div class="display-radios">Can be Master</div>
        <div class="knowledge-name">Knowledge</div>
      </div>
      <!--default view-->
      <div *ngIf="viewMode === 'default'" class="input-preference-scrollable-div">
        <div class="preference-form" *ngFor="let preference of modelToEdit?.preferences">
          <div class="game-name" *ngIf="preference.game">{{preference.game!.name}}</div>
          <div class="display-radios">
            @if (preference.canBeMaster) {
            <p class="master-info">Yes</p>
            }@else {
            <p class="master-info">No</p>
            }
          </div>
          <div class="knowledge-name" *ngIf="preference.knowledge">{{preference.knowledge!.name}}</div>
        </div>
      </div>
      <!--edit view-->
      <div *ngIf="viewMode === 'edit'" class="input-preference-scrollable-div">
        <div class="preference-form" *ngFor="let preference of modelToEdit?.preferences">

          <div class="trash" (click)="deletePreference(preference)"><i class="fa-solid fa-trash-can"></i></div>
          <div class="game-name">
            <select name="game" id="{{this.modelToEdit!.id}}GamePreference" [(ngModel)]="preference.gameId">
              <option *ngFor="let pref of modelToEdit!.preferences" [value]="pref.game?.gameId">{{pref.game?.name}}
              </option>
            </select>
          </div>

          <div class="display-radios">
            <div class="radio-input-label">
              <input type="radio" id="masterYes" name="canBeMaster{{preference.preferenceId}}" [value]="true"
                [(ngModel)]="preference.canBeMaster" />
              <label for="masterYes" class="radio-label">Yes</label>
            </div>
            <div class="radio-input-label">
              <input type="radio" id="masterNo" name="canBeMaster{{preference.preferenceId}}" [value]="false"
                [(ngModel)]="preference.canBeMaster" />
              <label for="masterNo" class="radio-label">No</label>
            </div>
          </div>
          <div>
            <select name="knowledge" id="{{this.modelToEdit!.id}}knowledgePreference"
              [(ngModel)]="preference.knowledgeId">
              <option *ngFor="let knowledge of knowledges" [value]="knowledge.knowledgeId">{{knowledge.name}}</option>
            </select>
          </div>
        </div>
      </div>
      <!--add view-->
      <div *ngIf="viewMode === 'add'" class="input-preference ">
        <div class="preference-form">
          <div class="game-name">
            <select name="game" id="{{this.modelToEdit!.id}}GamePreference" [(ngModel)]="newPreference.gameId">
              <option *ngFor="let game of games" [value]="game.gameId">{{game.name}}</option>
            </select>
          </div>
          <div class="display-radios">
            <div class="radio-input-label">
              <input type="radio" id="masterYes" name="canBeMasterAdd" [value]="true"
                [(ngModel)]="newPreference.canBeMaster" />
              <label for="masterYes" class="radio-label">Yes</label>
            </div>
            <div class="radio-input-label">
              <input type="radio" id="masterNo" name="canBeMasterAdd" [value]="false"
                [(ngModel)]="newPreference.canBeMaster" />
              <label for="masterNo" class="radio-label">No</label>
            </div>
          </div>
          <div class="knowledge-name">
            <select name="knowledge" id="{{this.modelToEdit!.id}}knowledgePreference"
              [(ngModel)]="newPreference.knowledgeId">
              <option *ngFor="let knowledge of knowledges" [value]="knowledge.knowledgeId">{{knowledge.name}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <!--bottom buttons-->
    <div class="bottom-buttons">
      <button (click)="resetUserInfo()" class="btn-cancel" *ngIf="viewMode!== 'default'">Cancel</button>
      <button (click)="backHome()" class="btn-cancel" *ngIf="viewMode=== 'default'">Cancel</button>
      @if (viewMode=== 'add') {
      <button (click)="PostPreference()" class="btn-save">Add Preference</button>
      }
      @else {
      <button (click)="onSubmit()" class="btn-save">Save Changes</button>
      }
    </div>
  </div>