<div class="display">
    <div class="container">
        <div class="title-page">Account Settings</div>
        <div class="player-profile-cont">
            <!-- <div class="subtitle">Player Profile</div> -->
            <div class="img-btns">
                <div class="img">
                    <i class="fa-regular fa-user"></i>
                </div>
                <div class="buttons">
                    <button class="btn-upload"><i class="fa-solid fa-upload"></i> Upload new image</button>
                    <button class="btn-remove"><i class="fa-solid fa-xmark"></i> Remove image</button>
                </div>
            </div>
        </div>
    
    
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="form-container">
    
            <div class="wrapper">
                <label for="name"><i class="fa-regular fa-user"></i>Name</label>
                <div class="input-group">
                    <input type="text" formControlName="name" placeholder="Name" required
                        [class.input-error]="userForm.get('name')?.invalid && (userForm.get('name')?.touched || userForm.get('name')?.dirty)">
    
                </div>
                <div *ngIf="userForm.get('name')?.invalid && (userForm.get('name')?.touched || userForm.get('name')?.dirty)"
                    class="display-errors">
                    <small class="error" *ngIf="userForm.get('name')?.errors?.['required']">Name is required</small>
                </div>
            </div>
            <div class="wrapper">
                <label for="email"><i class="fa-regular fa-user"></i>Surname</label>
                <div class="input-group">
                    <input type="text" formControlName="surname" placeholder="Surname" required
                        [class.input-error]="userForm.get('surname')?.invalid && (userForm.get('surname')?.touched || userForm.get('surname')?.dirty)">
    
                </div>
                <div *ngIf="userForm.get('surname')?.invalid && (userForm.get('surname')?.touched || userForm.get('surname')?.dirty)"
                    class="display-errors">
                    <small class="error" *ngIf="userForm.get('surname')?.errors?.['required']">Surname is required</small>
                </div>
            </div>
    
    
            <div class="wrapper">
                <label for="email"><i class="fa-regular fa-envelope"></i>Email</label>
                <div class="input-group">
                    <input type="email" formControlName="email" placeholder="Email" required
                        [class.input-error]="userForm.get('email')?.invalid && (userForm.get('email')?.touched || userForm.get('email')?.dirty)">
                </div>
                <div *ngIf="userForm.get('email')?.invalid && (userForm.get('email')?.touched || userForm.get('email')?.dirty)"
                    class="display-errors">
                    <small class="error" *ngIf="userForm.get('email')?.errors?.['required']">Email is required</small>
                    <small class="error" *ngIf="userForm.get('email')?.errors?.['email']">The email format is
                        incorrect.</small>
                </div>
            </div>
            <div class="wrapper">
                <label for="phone"><i class="fa-solid fa-phone"></i>Phone</label>
                <div class="input-group">
                    <input type="text" formControlName="phone" placeholder="Phone" required
                        [class.input-error]="userForm.get('phone')?.invalid && (userForm.get('phone')?.touched || userForm.get('phone')?.dirty)">
                   
                </div>
                <div *ngIf="userForm.get('phone')?.invalid && (userForm.get('phone')?.touched || userForm.get('phone')?.dirty)"
                    class="display-errors">
                    <small class="error" *ngIf="userForm.get('phone')?.errors?.['required']">Phone is required</small>
                    <small class="error" *ngIf="userForm.get('phone')?.errors?.['phone']">The Phone format is
                        incorrect.</small>
                </div>
            </div>
            <div class="wrapper">
                <label for="birthdate"><i class="fa-regular fa-calendar"></i>Birthdate</label>
                <div class="input-group">
                    <input type="date" formControlName="birthdate" placeholder="birthdate" >
                 
                </div>
              
            </div>
   
    
        </form>
    
        <div class="wrapper-radio">
            <!-- <label for="canBeMaster">Available as Game Master</label> -->
             <div class="radio-title"><i class="fa-solid fa-shield"></i> Game Master Status</div>
             <div class="radio-context">Would you like to be available as a Game Master?</div>
            <div class="radio-input-group">
                <div class="radio-input-label">
                    <input type="radio" id="masterYes" formControlName="canBeMaster" name="canBeMaster" [value]="true">
                    <label for="masterYes" class="radio-label">Yes</label>
                  </div>
                  <div class="radio-input-label">
                    <input type="radio" id="masterNo" formControlName="canBeMaster"  name="canBeMaster"  [value]="false">
                    <label for="masterNo" class="radio-label">No</label>
                  </div>
            </div>
          
        </div>
        <div class="bottom-buttons">
            <button class="btn-cancel">Cancel</button>
            <button class="btn-save">Save Changes</button>
        </div>
    
    </div>
</div>