<div class="modal-create" *ngIf="this.as.isCreateUserModal">
    <div class="modal-create-content">
        <div class="modal-create-title">
            Create User
        </div>

        <div class="form-cont">
            <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="form-container">

                <div class="wrapper">
                    <label for="email"><i class="fa-regular fa-user"></i>Name</label>
                    <div class="input-group">
                        <input type="text" formControlName="name" placeholder="Name" required
                            [class.input-error]="userForm.get('name')?.invalid && (userForm.get('name')?.touched || userForm.get('name')?.dirty)">

                    </div>
                    <div *ngIf="userForm.get('name')?.invalid && (userForm.get('name')?.touched || userForm.get('name')?.dirty)"
                        class="display-errors">
                        <small class="error" *ngIf="userForm.get('name')?.errors?.['required']">Name is required</small>
                    </div>
                </div>
                <div class="wrapper">
                    <label for="email"><i class="fa-regular fa-user"></i>Surname</label>
                    <div class="input-group">
                        <input type="text" formControlName="surname" placeholder="Surname" required
                            [class.input-error]="userForm.get('surname')?.invalid && (userForm.get('surname')?.touched || userForm.get('surname')?.dirty)">

                    </div>
                    <div *ngIf="userForm.get('surname')?.invalid && (userForm.get('surname')?.touched || userForm.get('surname')?.dirty)"
                        class="display-errors">
                        <small class="error" *ngIf="userForm.get('surname')?.errors?.['required']">Surname is
                            required</small>
                    </div>
                </div>


                <div class="wrapper">
                    <label for="email"><i class="fa-regular fa-envelope"></i>Email</label>
                    <div class="input-group">
                        <input type="email" formControlName="email" placeholder="Email" required
                            [class.input-error]="userForm.get('email')?.invalid && (userForm.get('email')?.touched || userForm.get('email')?.dirty)">
                    </div>
                    <div *ngIf="userForm.get('email')?.invalid && (userForm.get('email')?.touched || userForm.get('email')?.dirty)"
                        class="display-errors">
                        <small class="error" *ngIf="userForm.get('email')?.errors?.['required']">Email is
                            required</small>
                        <small class="error" *ngIf="userForm.get('email')?.errors?.['email']">The email format is
                            incorrect.</small>
                    </div>
                </div>
                <div class="wrapper">

                    <label for="password"><i class="fa-solid fa-key"></i>Password</label>
                    <div class="input-group">
                        <input [type]="hidePassword ? 'password' : 'text'" formControlName="password"
                            placeholder="Password" required
                            [class.input-error]="userForm.get('password')?.invalid && (userForm.get('password')?.touched || userForm.get('password')?.dirty)">
                        <i class="fa-solid" [class.fa-eye]="hidePassword" [class.fa-eye-slash]="!hidePassword"
                            (click)="togglePasswordVisibility()" style="cursor: pointer;"></i>
                    </div>
                    <div *ngIf="userForm.get('password')?.invalid && (userForm.get('password')?.touched || userForm.get('password')?.dirty)"
                        class="display-errors">
                        <small class="error" *ngIf="userForm.get('password')?.errors?.['required']">Password is
                            required</small>
                    </div>
                </div>

                <div class="wrapper">
                    <label for="phone"><i class="fa-solid fa-phone"></i>Phone</label>
                    <div class="input-group">
                        <input type="text" formControlName="phone" placeholder="Phone" required
                            [class.input-error]="userForm.get('phone')?.invalid && (userForm.get('phone')?.touched || userForm.get('phone')?.dirty)">

                    </div>
                    <div *ngIf="userForm.get('phone')?.invalid && (userForm.get('phone')?.touched || userForm.get('phone')?.dirty)"
                        class="display-errors">
                        <small class="error" *ngIf="userForm.get('phone')?.errors?.['required']">Phone is
                            required</small>
                        <small class="error" *ngIf="userForm.get('phone')?.errors?.['phone']">The Phone format is
                            incorrect.</small>
                    </div>
                </div>
                <div class="wrapper">
                    <label for="birthdate"><i class="fa-regular fa-calendar"></i>Birthdate</label>
                    <div class="input-group">
                        <input type="date" formControlName="birthdate" placeholder="birthdate">
                    </div>
                </div>
            </form>
        </div>

        <div class="modal-create-btns">
            <div class="btn-create"><button (click)="createUser()" class="create">Create</button></div>
            <div class="btn-close"><button (click)="closeModal()" class="close">Close</button></div>
        </div>

    </div>
</div>