.modal-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    /* gap: 8vh; */
}

.title{
    display: flex;
    color: var(--dark-purple);
    padding: 1vh;
    background: var(--lightPurple);
    width: 100%;
    font-size: 3.5vh;
    font-weight: 500;
    justify-content: center;
    font-family: "Segoe UI",
    Tahoma,
    Geneva,
    Verdana,
    sans-serif;
}

.subtitle{
    font-size: 2.2vh;
    color: black;
}

.btn-cont{
    display: flex;
    background: var(--lightPurple);
    width: 100%;
    /* background: var(--mat-bottom-sheet-container-background-color); */
    justify-content: space-evenly;
    padding: 1vh;
    
}

.btn-cont button{
    width: 9vh;
    border-radius: 1vh;
    border: none;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-cont .yes{
    background-color: var(--dark-purple);
    color: white;
    border: 2px solid var(--dark-purple);
    font-size: 2vh;

    &:hover{
        background-color: var(--purple);
    }
}
.btn-cont .no{
    background-color: white;
    border: 2px solid var(--purple);
    color: var(--dark-purple);
    font-size: 2vh;
    &:hover{
        background-color: var(--dark-purple);
        color: white;
    }
}