.container {
    overflow-y: hidden;
    height: 100vh;
    padding: 5vh 10vh;
    padding-left: 20vh;
    transition: 0.3s ease;
    padding-top: 3vh;
}

.container.dashboarsIsOpen {
    padding-left: 36vh;
}

.container.userDetailPanelVisible {
    padding-left: 12vh;
    padding-right: 40vh;
}

.header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2vh;
}

.page-title {
    font-size: 3.5vh;
    font-weight: bold;
    margin: 0;
    color: #333;
}

.search-bar {
    width: 35vh;
    margin-right: 2vh;
}

.searchBarUserDetailOpen{
    z-index: 1000;
    width: 45vh;
}

.page-container {
    overflow-x: auto;
}

.user-table {
    min-width: 60vh;
    width: 100%;
}

th,
td {
    white-space: nowrap;
}

.user-table {
    width: 100%;
    margin-bottom: 1vh;
    border-radius: 3vh;
    border-collapse: collapse;
    box-shadow: 0 0px 6px rgba(0, 0, 0, 0.1);
}
.userDetailOpen{
    border-radius: 0;
    transition: ease 0.5s;
}

::ng-deep tbody {

    height: 65vh;
    overflow-y: auto;
    display: block;
    scrollbar-width: none;
}

mat-header-row {
    background-color: var(--lightPurple);
    color: black;
}

mat-header-cell {
    flex: 1;
    display: flex;
    border-bottom: solid 1px #80808030;
    /* width: 20vh; */
    align-items: center;
    overflow: hidden;
    word-wrap: break-word;
    min-height: inherit;
    justify-content: space-between;
}

mat-row {
    background-color: #ffffff;
    transition: background-color 0.3s ease;

}

mat-row:hover {
    background-color: #e0e0e0;
}

mat-cell {
    align-self: stretch;
    /* padding-block: 2vh; */
    height: 7vh;
    border-bottom: solid 1px #80808030;
}

mat-paginator {
    text-wrap: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 8px;
    flex-wrap: wrap;
    width: 100%;
    min-height: var(--mat-paginator-container-size);
}

.cont-user-cell {
    display: flex;
    gap: 1vh;
    align-items: center;
}

.profile-image {
    display: flex;
    background: #80808014;
    width: 4vh;
    height: 4vh;
    border-radius: 50%;
    object-fit: cover;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.status-enabled {
    display: flex;
    height: 2vh;
    width: 6vh;
    border-radius: 4vh;
    justify-content: center;
    align-content: center;
    padding: 1vh;
    font-size: 1vh;
    font-weight: 500;
    background-color: #c5fdc494;
    color: #039600;
    font-family: "Segoe UI",
        Tahoma,
        Geneva,
        Verdana,
        sans-serif;
    align-items: center;
}



.status-disabled {
    display: flex;
    height: 2vh;
    width: 6vh;
    border-radius: 4vh;
    justify-content: center;
    align-content: center;
    padding: 1vh;
    font-size: 1vh;
    font-weight: 500;
    background-color: #fdc4c494;
    color: #960000;
    font-family: "Segoe UI",
        Tahoma,
        Geneva,
        Verdana,
        sans-serif;
    align-items: center;
}

.details{
    padding: 0.2vh;
}

.user-table {
    overflow: hidden;
    border-collapse: separate;
}

.user-icon-admin,
.user-icon-role {
    display: flex;
    align-items: center;
    gap: 1vh;
    padding: 1vh;
    border-radius: 1vh;
}

.user-icon-admin .role {
    gap: 1vh;
    display: flex;
    font-size: 2vh;
    font-weight: bold;
    background: linear-gradient(90deg, #ae7cf9, #7417ff, );
    background-size: 200% auto;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: gradientTextAnimation 1.5s ease infinite;
}

@keyframes gradientTextAnimation {
    0% {
        background-position: 200% 0%;
    }

    50% {
        background-position: -200% 0%;
    }

    100% {
        background-position: 200% 0%;
    }

}

.user-icon-role .role {
    gap: 1vh;
    display: flex;
    font-size: 2vh;
    font-weight: bold;
    background: linear-gradient(90deg, lightgreen, rgb(2, 195, 2), );
    background-size: 200% auto;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: gradientTextAnimation 1.5s ease infinite;

}

@keyframes gradientTextAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


.user-table .mat-row:first-child .mat-cell,
.user-table .mat-row:last-child .mat-cell {
    border-top-left-radius: 2vh;

    border-top-right-radius: 2vh;
}

.user-table .mat-row,
.user-table .mat-cell,
.user-table .mat-header-row,
.user-table .mat-header-cell {
    border-bottom: 1px solid transparent !important;

}

.details-page {
    position: fixed;
    top: 0;
    right: -100%;
    padding-left: -2vh;
    width: 40vh;
    margin-right: 2vh;
    padding-top: 15.3vh;
    height: 100vh;
    background: white;
    transition: right 0.5s ease;
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

.details-page.visible {
    right: 0;
}

.details-page .close-section{
    display: flex;
    height: 3.6vh;
    cursor: pointer;
    background: var(--lightPurple);
    font-size: 500;
    padding: 2vh 2vh 2.2vh;
    gap: 1vh;
    font-family: "Segoe UI",
    Tahoma,
    Geneva,
    Verdana,
    sans-serif;
    box-shadow: 1px -1px 4px rgba(0, 0, 0, 0.1);
    align-items: center;
}

.details-page .close {
    align-self: flex-end;
    cursor: pointer;
    transition: left 0.5s ease;
}

.details-container{
    display: flex;
    padding-left: 2vh;
    flex-direction: column;
    align-items: center;
    border-left: solid 1px #dedbdb;
    height: 100%;
}

.details-image {
    padding: 3vh 0 2vh;
}

.profile-image-details{
    display: flex;
    width: 14vh;
    height: 14vh;
    border: none;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.details-name{
    display: flex;
    font-size: 3vh;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 0.7vh;
    gap: 1vh;
    flex-direction: row;
}

.role-status{
    display: flex;
    gap: 2vh;
    align-items: center;
}

.details-role-admin {
    font-weight: bold;
    background: linear-gradient(90deg, #ae7cf9, #7417ff);
    background-size: 200% auto;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: _ngcontent-ng-c3880673373_gradientTextAnimation 1.5s ease infinite;
}
.details-role-user {
    font-weight: bold;
    background: linear-gradient(90deg, lightgreen, rgb(2, 195, 2), );
    background-size: 200% auto;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: _ngcontent-ng-c3880673373_gradientTextAnimation 1.5s ease infinite;
}

.user-info-cont{
    display: flex;
    width: 100%;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.user-info-title{
    padding-bottom: 2vh;
    font-size: 2.5vh;
    font-weight: 500;
}

.user-details{
    display: flex;
    gap: 1vh;
    flex-direction: column;
}

.user-details .email-cont, .user-details .phone-cont, .canBeMaster-cont{
    display: flex;
    font-size: 2.1vh;
    height: 3vh;
    gap: 1vh;
    align-items: center;
}

.master-icon {
    margin-right: 5px;
  }
  .available {
    color: green;
  }
  .unavailable {
    color: gray;
  }

.btns-cont{
    display: flex;
    width: 90%;
    margin-top: 12vh;
    flex-direction: column;
    gap: 1vh;
    border: solid 1px white;
}

.btns-cont .delete{
    display: flex;
    background-color: rgb(255, 0, 0);
    color: white;
    border: none;
    height: 5vh;
    border-radius: 1vh;
    cursor: pointer;
    align-items: center;
    justify-content: center;

    &:hover{
        background-color: rgb(255, 109, 109);
    }
}
.btns-cont .disable{
    display: flex;
    background-color: rgb(255, 255, 255);
    color: black;
    border: rgb(120, 120, 120) solid 1px;
    height: 5vh;
    border-radius: 1vh;
    cursor: pointer;
    align-items: center;
    justify-content: center;

    &:hover{
        background-color: rgb(231, 231, 231);
    }
}


.divisor{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.11);
    height: 0.1vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

@media (max-width:480px) {
    .container {
        padding-left: 8vh;
    }

    .container.dashboarsIsOpen {
        padding-left: 24vh;
    }
}

@media (max-width: 768px) {
    .header-bar {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 2vh;
        flex-direction: column;
    }

}

@media (max-width: 1100px) {
    .status-enabled {
        height: 1.5vh;
        width: 1.5vh;
        padding: 0;
        background-color: rgba(4, 255, 0, 0.58);

        & span {
            display: none;
        }
    }

    .status-disabled {
        height: 1.5vh;
        width: 1.5vh;
        padding: 0;
        background-color: red;

        & span {
            display: none;
        }
    }
}